@{
    ViewBag.PageId = "extr-page";
}

@*@section topright{
    <span id="extr-page-header-space"> <span class="hidden-mobile">¿Ya está registrado?</span> <a href="@Url.Action("login", "account")" class="btn btn-danger">Iniciar Sesión </a> </span>
}*@

<span id="extr-page-header-space" style="float: left;"> <span class="hidden-mobile">¿Ya está registrado?</span> <a href="@Url.Action("login", "account")" class="btn btn-danger">Iniciar Sesión </a> </span>

<div id="content" class="container" style="margin-top: 60px;">
    <div class="row">
        @{ Html.RenderPartial("_LoginText"); }
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
            <div class="well no-padding">
                <form action="@Url.Action("forgotpassword", "account")" method="POST" id="login-form" class="smart-form client-form">
                    <header>
                        Recuperar Contraseña
                    </header>
                    @Html.AntiForgeryToken()
                    @Html.ValidationBootstrap()
                    <fieldset>
                        <section>
                            <label class="label">Correo Electrónico</label>
                            <label class="input">
                                <i class="icon-append fa fa-envelope"></i>
                                <input type="email" name="email">
                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Ingrese su dirección de correo electrónico</b>
                            </label>
                            <div class="note">
                                <a href="@Url.Action("login", "account")"><i class="fa fa-smile-o"></i> Recordé mi contraseña</a>
                            </div>
                        </section>
                    </fieldset>
                    <footer>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-envelope"></i> 
                            Enviar Correo
                        </button>
                    </footer>
                </form>
            </div>
            @{ /*Html.RenderPartial("_SocialMedia"); */}
        </div>
    </div>
</div>
@section pagespecific{
    <script type="text/javascript">
        $(function () {
            // Validation
            $("#login-form").validate({
                // Rules for form validation
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                },

                // Messages for form validation
                messages: {
                    email: {
                        required: 'Please enter your email address',
                        email: 'Please enter a VALID email address'
                    },
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });
        });
    </script>
}