@using SmartAdminMvc.ViewModels
@model PositionViewModel
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" id="laX" aria-hidden="true">
                &times;
            </button>
            <h4 class="modal-title">
                <div class='widget-header'><h4><i class='fa fa-warning'></i> Eliminar Puesto</h4></div>
            </h4>
        </div>
        <div id="partialContent" class="modal-body no-padding">
            <form action="@Url.Action("_Delete", "Puesto")" method="POST" id="newForm" class="smart-form client-form" autocomplete="off">
                @if (Model.Processed) {
                    <header style="background-color:@(Model.Success ? "#f0fff0" : "#fff0f0");"> @Html.DisplayFor(modelItem => Model.ProcessedMessage) </header><!--#fff0f0 -->
                } else {
                    <fieldset>
                        <div class="row">
                            <section class="col col-12">
                                Está usted seguro que desea eliminar el puesto @Model.Name ?
                            </section>
                        </div>
                    </fieldset>
                }
                <footer>
                    @if (!Model.Processed) {
                        <button type="button" id="submit" class="btn btn-primary">
                            Aceptar
                        </button>
                    }
                    <button type="button" id="close" class="btn btn-default">
                        Cerrar
                    </button>

                </footer>
            </form>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script type="text/javascript">
    $("#laX").on("click", function () {
        $("#deleteModal").modal('hide');
        location.reload();
    });
    $("#close").on("click", function () {
        $("#deleteModal").modal('hide');
        location.reload();
    });

    $("#submit").on("click", function () {
        var positionId = '@Model.Id';
        var enterpriseId = '@Model.EnterpriseId';
        $.ajax({
            url: "/Puesto/_Delete",
            type: "POST",
            data: {
                id: positionId,
                enterpriseId: enterpriseId
            }
        }).done(function (partialViewResult) {
            $("#deleteModalBody").html(partialViewResult);
        });
    });
</script>

