@using SmartAdminMvc.ViewModels
@model EmployeeViewModel
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" id="laX" aria-hidden="true">
                &times;
            </button>
            @if (string.IsNullOrEmpty(Model.Name))
            {
                <h4 class="modal-title">Nuevo Empleado </h4>
            }
            else
            {
                <h4 class="modal-title">Editar Empleado </h4>
            }
        </div>
        <div id="partialContent" class="modal-body no-padding">
            <form action="@Url.Action("_Upsert", "Empleados")" enctype="multipart/form-data" method="POST" id="newForm" class="smart-form client-form" autocomplete="off">
                @if (Model.Processed) {
                    <header style="background-color: @(Model.Success ? "#f0fff0" : "#fff0f0");"> @Html.DisplayFor(modelItem => Model.ProcessedMessage) </header>
                    <!--#fff0f0 -->
                }
                else {
                    if (!string.IsNullOrEmpty(Model.Name)) {
                         <input type="hidden" name="id" id="id" value="@Model.Id"/>
                    }
                    <input type="hidden" name="enterpriseId" id="enterpriseId" value="@Model.EnterpriseId"/>
                    <fieldset>
                    <div class="row">
                        <section class="col col-6">
                            <label class="input">
                                <input type="text" name="firstName" placeholder="Nombres" value="@Model.FirstName">
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="input">
                                <input type="text" name="lastName" placeholder="Apellidos" value="@Model.LastName">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label class="checkbox">
                                <input type="checkbox" validate="" name="hasSocialSecurity" id="hasSocialSecurity"
                                       value="@(Model.HasSocialSecurity == "1" ? "On" : "Off")" @Html.Raw((Model.HasSocialSecurity == "1") ? "checked" : "")>
                                <i></i>¿Tiene Seguro Social?
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="input">
                                <input type="text" name="ssn" placeholder="NSS" value="@Model.Ssn">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label class="input">
                                <input type="text" name="curp" placeholder="CURP" value="@Model.Curp">
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="input">
                                <input type="text" name="rfc" placeholder="RFC" value="@Model.Rfc">
                            </label>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
                            <label class="input">
                                <input type="text" name="email" placeholder="Correo electrónico" value="@Model.Email">
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="select">
                                <select name="gender" value="@Model.Gender">
                                    <option @Html.Raw((Model.Gender == "0") ? "selected=\"\"" : "") value="0" selected="" disabled="">Sexo</option>
                                    <option @Html.Raw((Model.Gender == "F") ? "selected=\"\"" : "") value="F">F</option>
                                    <option @Html.Raw((Model.Gender == "M") ? "selected=\"\"" : "") value="M">M</option>
                                </select> <i></i>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label class="input">
                                <input type="number" name="dailySalary" placeholder="Salario" value="@(Model.DailySalary == 0 ? "" : Model.DailySalary.ToString())">
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="checkbox">
                                <input onclick="showHide(this);" type="checkbox" validate="" name="calculateSalary" id="calculateSalary"
                                       value="@(Model.CalculateSalary == "1" ? "On" : "Off")" @Html.Raw((Model.CalculateSalary == "1") ? "checked" : "")>
                                <i></i>Calcular Salario
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label class="input">
                                <input type="number" name="complementSalary" placeholder="Complemento Salario" value="@(Model.ComplementSalary == 0 ? "" : Model.ComplementSalary.ToString())">
                            </label>
                        </section>
                    </div>
                    <div class="row" id="salaryPanel">
                    <section class="col col-6">
                        <label class="select">
                            <select name="paymentFrequency" id="paymentFrequency" value="@Model.PaymentFrequency">
                                <option @Html.Raw((Model.PaymentFrequency == 0) ? "selected=\"\"" : "") value="0" selected="" disabled="">Frecuencia de Pago</option>
                                <option @Html.Raw((Model.PaymentFrequency == 1) ? "selected=\"\"" : "") value="1">Diario</option>
                                <option @Html.Raw((Model.PaymentFrequency == 7) ? "selected=\"\"" : "") value="7">Semanal</option>
                                <option @Html.Raw((Model.PaymentFrequency == 10) ? "selected=\"\"" : "") value="10">Decenal</option>
                                <option @Html.Raw((Model.PaymentFrequency == 15) ? "selected=\"\"" : "") value="15">Quincenal</option>
                                <option @Html.Raw((Model.PaymentFrequency == 30) ? "selected=\"\"" : "") value="30">Mensual</option>
                            </select> <i></i>
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="select">
                            <select name="departmentId" value="@Model.DepartmentId">
                                <option value="0" @Html.Raw((Model.DepartmentId == -1) ? "selected=\"\"" : "") disabled="">Departamento</option>
                                @foreach (var item in Model.Departments) {
                                    <option @Html.Raw((Model.DepartmentId == @item.Id) ? "selected=\"\"" : "") value="@item.Id">@item.Name</option>
                                }
                                <option @Html.Raw((Model.DepartmentId == 0) ? "selected=\"\"" : "") value="0">Ninguno</option>
                            </select> <i></i>
                        </label>
                    </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label class="select">
                                <select name="positionId" value="@Model.PositionId">
                                    <option value="0" @Html.Raw((Model.PositionId == -1) ? "selected=\"\"" : "") disabled="">Puesto</option>
                                    @foreach (var item in Model.Positions) {
                                        <option @Html.Raw((Model.PositionId == @item.Id) ? "selected=\"\"" : "") value="@item.Id">@item.Name</option>
                                    }
                                    <option @Html.Raw((Model.PositionId == 0) ? "selected=\"\"" : "") value="0">Ninguno</option>
                                </select> <i></i>
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="select">
                                <select name="groupId" value="@Model.GroupId">
                                    <option value="0" @Html.Raw((Model.GroupId == -1) ? "selected=\"\"" : "") disabled="">Grupo</option>
                                    @foreach (var item in Model.Groups) {
                                        <option @Html.Raw((Model.GroupId == @item.Id) ? "selected=\"\"" : "") value="@item.Id">@item.Name</option>
                                    }
                                    <option @Html.Raw((Model.GroupId == 0) ? "selected=\"\"" : "") value="0">Ninguno</option>
                                </select> <i></i>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                <input type="text" id="startDateVal" name="startDateVal" placeholder="Fecha de Alta" class="form-control" data-dateformat="dd/mm/yy" value="@(Model.StartDate == DateTime.MinValue ? "" : Model.StartDate.ToString("dd/MM/yy"))" />
                                <input type="hidden" id="startDate" name="startDate"/>
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="select">
                                <select name="offdays" value="@Model.OffDays">
                                    <option @Html.Raw((Model.OffDays == "0") ? "selected=\"\"" : "") value="0" selected="" disabled="">Descanso</option>
                                    <option @Html.Raw((Model.OffDays == "Lunes") ? "selected=\"\"" : "") value="Lunes">Lunes</option>
                                    <option @Html.Raw((Model.OffDays == "Martes") ? "selected=\"\"" : "") value="Martes">Martes</option>
                                    <option @Html.Raw((Model.OffDays == "Miércoles") ? "selected=\"\"" : "") value="Miércoles">Miércoles</option>
                                    <option @Html.Raw((Model.OffDays == "Jueves") ? "selected=\"\"" : "") value="Jueves">Jueves</option>
                                    <option @Html.Raw((Model.OffDays == "Viernes") ? "selected=\"\"" : "") value="Viernes">Viernes</option>
                                    <option @Html.Raw((Model.OffDays == "Sábado") ? "selected=\"\"" : "") value="Sábado">Sábado</option>
                                    <option @Html.Raw((Model.OffDays == "Domingo") ? "selected=\"\"" : "") value="Domingo">Domingo</option>
                                    <option @Html.Raw((Model.OffDays == "Sábado y Domingo") ? "selected=\"\"" : "") value="Sábado y Domingo">Sábado y Domingo</option>
                                </select> <i></i>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label class="select">
                                <select name="bank" value="@Model.Bank">
                                    <option @Html.Raw((Model.Bank == "0") ? "selected=\"\"" : "") value="0" selected="" disabled="">Banco</option>
                                    <option @Html.Raw((Model.Bank == "(Pago en efectivo)") ? "selected=\"\"" : "") value="(Pago en efectivo)">(Pago en efectivo)</option>
                                    <option @Html.Raw((Model.Bank == "(Cheque)") ? "selected=\"\"" : "") value="(Cheque)">(Cheque)</option>
                                    @foreach (var b in Model.BankList) {
                                        <option @Html.Raw((Model.Bank == b) ? "selected=\"\"" : "") value="@b">@b</option>
                                    }
                                </select> <i></i>
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="input">
                                <input type="text" name="accountNumber" placeholder="Número de cuenta" value="@Model.AccountNumber">
                            </label>
                        </section>
                    </div>
                    <section>
                        <label class="textarea">
                            <textarea rows="3" name="address" placeholder="Dirección">@Model.Address</textarea>
                        </label>
                    </section>
                    <div class="row">
                        <section class="col col-6">
                            <label class="input">
                                <input type="text" name="area" placeholder="Colonia" value="@Model.Area">
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="input">
                                <input type="text" name="zipCode" placeholder="Código Postal" value="@Model.ZipCode">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label class="input">
                                <input type="text" name="city" placeholder="Ciudad" value="@Model.City">
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="select">
                                <select name="state" value="@Model.State">
                                    <option value="0" @Html.Raw((Model.State == "0") ? "selected=\"\"" : "") disabled="">Entidad Federativa</option>
                                    <option @Html.Raw((Model.State == "Aguascalientes") ? "selected=\"\"" : "") value="Aguascalientes">Aguascalientes</option>
                                    <option @Html.Raw((Model.State == "Baja California") ? "selected=\"\"" : "") value="Baja California">Baja California</option>
                                    <option @Html.Raw((Model.State == "Baja California Sur") ? "selected=\"\"" : "") value="Baja California Sur">Baja California Sur</option>
                                    <option @Html.Raw((Model.State == "Campeche") ? "selected=\"\"" : "") value="Campeche">Campeche</option>
                                    <option @Html.Raw((Model.State == "Chiapas") ? "selected=\"\"" : "") value="Chiapas">Chiapas</option>
                                    <option @Html.Raw((Model.State == "Chihuahua") ? "selected=\"\"" : "") value="Chihuahua">Chihuahua</option>
                                    <option @Html.Raw((Model.State == "Ciudad de México") ? "selected=\"\"" : "") value="Ciudad de México">Ciudad de México</option>
                                    <option @Html.Raw((Model.State == "Coahuila de Zaragoza") ? "selected=\"\"" : "") value="Coahuila de Zaragoza">Coahuila de Zaragoza</option>
                                    <option @Html.Raw((Model.State == "Colima") ? "selected=\"\"" : "") value="Colima">Colima</option>
                                    <option @Html.Raw((Model.State == "Durango") ? "selected=\"\"" : "") value="Durango">Durango</option>
                                    <option @Html.Raw((Model.State == "Guanajuato") ? "selected=\"\"" : "") value="Guanajuato">Guanajuato</option>
                                    <option @Html.Raw((Model.State == "Guerrero") ? "selected=\"\"" : "") value="Guerrero">Guerrero</option>
                                    <option @Html.Raw((Model.State == "Hidalgo") ? "selected=\"\"" : "") value="Hidalgo">Hidalgo</option>
                                    <option @Html.Raw((Model.State == "Jalisco") ? "selected=\"\"" : "") value="Jalisco">Jalisco</option>
                                    <option @Html.Raw((Model.State == "México") ? "selected=\"\"" : "") value="México">México</option>
                                    <option @Html.Raw((Model.State == "Michoacán de Ocampo") ? "selected=\"\"" : "") value="Michoacán de Ocampo">Michoacán de Ocampo</option>
                                    <option @Html.Raw((Model.State == "Morelos") ? "selected=\"\"" : "") value="Morelos">Morelos</option>
                                    <option @Html.Raw((Model.State == "Nayarit") ? "selected=\"\"" : "") value="Nayarit">Nayarit</option>
                                    <option @Html.Raw((Model.State == "Nuevo León") ? "selected=\"\"" : "") value="Nuevo León">Nuevo León</option>
                                    <option @Html.Raw((Model.State == "Oaxaca") ? "selected=\"\"" : "") value="Oaxaca">Oaxaca</option>
                                    <option @Html.Raw((Model.State == "Puebla") ? "selected=\"\"" : "") value="Puebla">Puebla</option>
                                    <option @Html.Raw((Model.State == "Querétaro de Arteaga") ? "selected=\"\"" : "") value="Querétaro de Arteaga">Querétaro de Arteaga</option>
                                    <option @Html.Raw((Model.State == "Quintana Roo") ? "selected=\"\"" : "") value="Quintana Roo">Quintana Roo</option>
                                    <option @Html.Raw((Model.State == "San Luis Potosí") ? "selected=\"\"" : "") value="San Luis Potosí">San Luis Potosí</option>
                                    <option @Html.Raw((Model.State == "Sinaloa") ? "selected=\"\"" : "") value="Sinaloa">Sinaloa</option>
                                    <option @Html.Raw((Model.State == "Sonora") ? "selected=\"\"" : "") value="Sonora">Sonora</option>
                                    <option @Html.Raw((Model.State == "Tabasco") ? "selected=\"\"" : "") value="Tabasco">Tabasco</option>
                                    <option @Html.Raw((Model.State == "Tamaulipas") ? "selected=\"\"" : "") value="Tamaulipas">Tamaulipas</option>
                                    <option @Html.Raw((Model.State == "Tlaxcala") ? "selected=\"\"" : "") value="Tlaxcala">Tlaxcala</option>
                                    <option @Html.Raw((Model.State == "Veracruz de Ignacio de la Llave") ? "selected=\"\"" : "") value="Veracruz de Ignacio de la Llave">Veracruz de Ignacio de la Llave</option>
                                    <option @Html.Raw((Model.State == "Yucatán") ? "selected=\"\"" : "") value="Yucatán">Yucatán</option>
                                    <option @Html.Raw((Model.State == "Zacatecas") ? "selected=\"\"" : "") value="Zacatecas">Zacatecas</option>
                                </select> <i></i>
                            </label>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
                            <label class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                <input type="text" id="doBVal" name="doBVal" placeholder="Fecha de Nacimiento" class="form-control" data-dateformat="dd/mm/yy" value="@(Model.DoB == DateTime.MinValue ? "" : Model.DoB.ToString("dd/MM/yy"))"/>
                                <input type="hidden" id="doB" name="doB" />
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="input">
                                <input type="text" name="placeOfBirth" placeholder="Lugar de Nacimiento" value="@Model.PlaceOfBirth">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label class="input">
                                <input type="tel" name="phone" placeholder="Teléfono" value="@Model.Phone">
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                <input type="text" id="ssRegistrationDateVal" name="ssRegistrationDateVal" placeholder="Fecha de alta en SS" class="form-control" data-dateformat="dd/mm/yy" value="@(Model.SsRegistrationDate == DateTime.MinValue ? "" : Model.SsRegistrationDate.ToString("dd/MM/yy"))"/>
                                <input type="hidden" id="ssRegistrationDate" name="ssRegistrationDate" />
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label class="select">
                                <select name="maritalStatus" value="@Model.MaritalStatus">
                                    <option @Html.Raw((Model.MaritalStatus == "0") ? "selected=\"\"" : "") value="0" selected="" disabled="">Estado Civil</option>
                                    <option @Html.Raw((Model.MaritalStatus == "Sin Especificar") ? "selected=\"\"" : "") value="Sin Especificar">Sin Especificar</option>
                                    <option @Html.Raw((Model.MaritalStatus == "Soltero") ? "selected=\"\"" : "") value="Soltero">Soltero</option>
                                    <option @Html.Raw((Model.MaritalStatus == "Casado") ? "selected=\"\"" : "") value="Casado">Casado</option>
                                    <option @Html.Raw((Model.MaritalStatus == "Viudo") ? "selected=\"\"" : "") value="Viudo">Viudo</option>
                                    <option @Html.Raw((Model.MaritalStatus == "Divorciado") ? "selected=\"\"" : "") value="Divorciado">Divorciado</option>
                                    <option @Html.Raw((Model.MaritalStatus == "Unión Libre") ? "selected=\"\"" : "") value="Unión Libre">Unión Libre</option>
                                </select> <i></i>
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="input">
                                <input type="text" name="idNumber" placeholder="Identificación" value="@Model.IdNumber">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label class="select">
                                <select name="payingEnterpriseId" value="@Model.PayingEnterpriseId">
                                    <option value="0" @Html.Raw((Model.PayingEnterpriseId == -1) ? "selected=\"\"" : "") disabled="">Empresa encargada de nómina</option>
                                    @foreach (var item in Model.Enterprises) {
                                        <option @Html.Raw((Model.PayingEnterpriseId == @item.Id) ? "selected=\"\"" : "") value="@item.Id">@item.Name</option>
                                    }
                                </select> <i></i>
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="select">
                                <select name="payingEnterpriseId" value="@Model.SecondaryEnterpriseId">
                                    <option value="0" @Html.Raw((Model.SecondaryEnterpriseId == -1) ? "selected=\"\"" : "") disabled="">Empresa encargada de complemento</option>
                                    @foreach (var item in Model.Enterprises) {
                                        <option @Html.Raw((Model.SecondaryEnterpriseId == @item.Id) ? "selected=\"\"" : "") value="@item.Id">@item.Name</option>
                                    }
                                </select> <i></i>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-4">
                            <label class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                <input type="text" id="startContractDateVal" name="startContractDateVal" placeholder="Inicio de Contrato" class="form-control" data-dateformat="dd/mm/yy" value="@(Model.StartContractDate == DateTime.MinValue ? "" : Model.StartContractDate.ToString("dd/MM/yy"))"/>
                                <input type="hidden" id="startContractDate" name="startContractDate" />
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="select">
                                <select name="duration" value="@Model.Duration">
                                    <option value="0" @Html.Raw((Model.Duration == "") ? "selected=\"\"" : "") disabled="">Duración de contrato</option>
                                    <option @Html.Raw((Model.Duration == "0") ? "selected=\"\"" : "") value="0">Permanente</option>
                                    <option @Html.Raw((Model.Duration == "30") ? "selected=\"\"" : "") value="30">30 días</option>
                                    <option @Html.Raw((Model.Duration == "60") ? "selected=\"\"" : "") value="60">60 días</option>
                                    <option @Html.Raw((Model.Duration == "90") ? "selected=\"\"" : "") value="90">90 días</option>
                                    <option @Html.Raw((Model.Duration == "120") ? "selected=\"\"" : "") value="120">120 días</option>
                                </select> <i></i>
                            </label>
                        </section>
                        @*<section class="col col-4">
                            <label class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                <input type="text" id="endContractDateVal" name="endContractDateVal" placeholder="Fin de Contrato" class="form-control" data-dateformat="dd/mm/yy" value="@(Model.EndContractDate == null || Model.EndContractDate == DateTime.MinValue ? "" : ((DateTime) Model.EndContractDate).ToString("dd/MM/yy"))"/>
                                <input type="hidden" id="endContractDate" name="endContractDate" />
                            </label>
                        </section>
                        <section class="col col-4">
                            <label class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                <input type="text" id="permanentContractDateVal" name="permanentContractDateVal" placeholder="Contrato Permanente" class="form-control" data-dateformat="dd/mm/yy" value="@(Model.PermanentContractDate == null || Model.PermanentContractDate == DateTime.MinValue ? "" : ((DateTime) Model.PermanentContractDate).ToString("dd/MM/yy"))"/>
                                <input type="hidden" id="permanentContractDate" name="permanentContractDate" />
                            </label>
                        </section>*@
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label class="select">
                                <select name="workState" value="@Model.WorkState">
                                    <option value="0" @Html.Raw((Model.WorkState == "0") ? "selected=\"\"" : "") disabled="">Ubicación del lugar de trabajo</option>
                                    <option @Html.Raw((Model.WorkState == "Aguascalientes") ? "selected=\"\"" : "") value="Aguascalientes">Aguascalientes</option>
                                    <option @Html.Raw((Model.WorkState == "Baja California") ? "selected=\"\"" : "") value="Baja California">Baja California</option>
                                    <option @Html.Raw((Model.WorkState == "Baja California Sur") ? "selected=\"\"" : "") value="Baja California Sur">Baja California Sur</option>
                                    <option @Html.Raw((Model.WorkState == "Campeche") ? "selected=\"\"" : "") value="Campeche">Campeche</option>
                                    <option @Html.Raw((Model.WorkState == "Chiapas") ? "selected=\"\"" : "") value="Chiapas">Chiapas</option>
                                    <option @Html.Raw((Model.WorkState == "Chihuahua") ? "selected=\"\"" : "") value="Chihuahua">Chihuahua</option>
                                    <option @Html.Raw((Model.WorkState == "Ciudad de México") ? "selected=\"\"" : "") value="Ciudad de México">Ciudad de México</option>
                                    <option @Html.Raw((Model.WorkState == "Coahuila de Zaragoza") ? "selected=\"\"" : "") value="Coahuila de Zaragoza">Coahuila de Zaragoza</option>
                                    <option @Html.Raw((Model.WorkState == "Colima") ? "selected=\"\"" : "") value="Colima">Colima</option>
                                    <option @Html.Raw((Model.WorkState == "Durango") ? "selected=\"\"" : "") value="Durango">Durango</option>
                                    <option @Html.Raw((Model.WorkState == "Guanajuato") ? "selected=\"\"" : "") value="Guanajuato">Guanajuato</option>
                                    <option @Html.Raw((Model.WorkState == "Guerrero") ? "selected=\"\"" : "") value="Guerrero">Guerrero</option>
                                    <option @Html.Raw((Model.WorkState == "Hidalgo") ? "selected=\"\"" : "") value="Hidalgo">Hidalgo</option>
                                    <option @Html.Raw((Model.WorkState == "Jalisco") ? "selected=\"\"" : "") value="Jalisco">Jalisco</option>
                                    <option @Html.Raw((Model.WorkState == "México") ? "selected=\"\"" : "") value="México">México</option>
                                    <option @Html.Raw((Model.WorkState == "Michoacán de Ocampo") ? "selected=\"\"" : "") value="Michoacán de Ocampo">Michoacán de Ocampo</option>
                                    <option @Html.Raw((Model.WorkState == "Morelos") ? "selected=\"\"" : "") value="Morelos">Morelos</option>
                                    <option @Html.Raw((Model.WorkState == "Nayarit") ? "selected=\"\"" : "") value="Nayarit">Nayarit</option>
                                    <option @Html.Raw((Model.WorkState == "Nuevo León") ? "selected=\"\"" : "") value="Nuevo León">Nuevo León</option>
                                    <option @Html.Raw((Model.WorkState == "Oaxaca") ? "selected=\"\"" : "") value="Oaxaca">Oaxaca</option>
                                    <option @Html.Raw((Model.WorkState == "Puebla") ? "selected=\"\"" : "") value="Puebla">Puebla</option>
                                    <option @Html.Raw((Model.WorkState == "Querétaro de Arteaga") ? "selected=\"\"" : "") value="Querétaro de Arteaga">Querétaro de Arteaga</option>
                                    <option @Html.Raw((Model.WorkState == "Quintana Roo") ? "selected=\"\"" : "") value="Quintana Roo">Quintana Roo</option>
                                    <option @Html.Raw((Model.WorkState == "San Luis Potosí") ? "selected=\"\"" : "") value="San Luis Potosí">San Luis Potosí</option>
                                    <option @Html.Raw((Model.WorkState == "Sinaloa") ? "selected=\"\"" : "") value="Sinaloa">Sinaloa</option>
                                    <option @Html.Raw((Model.WorkState == "Sonora") ? "selected=\"\"" : "") value="Sonora">Sonora</option>
                                    <option @Html.Raw((Model.WorkState == "Tabasco") ? "selected=\"\"" : "") value="Tabasco">Tabasco</option>
                                    <option @Html.Raw((Model.WorkState == "Tamaulipas") ? "selected=\"\"" : "") value="Tamaulipas">Tamaulipas</option>
                                    <option @Html.Raw((Model.WorkState == "Tlaxcala") ? "selected=\"\"" : "") value="Tlaxcala">Tlaxcala</option>
                                    <option @Html.Raw((Model.WorkState == "Veracruz de Ignacio de la Llave") ? "selected=\"\"" : "") value="Veracruz de Ignacio de la Llave">Veracruz de Ignacio de la Llave</option>
                                    <option @Html.Raw((Model.WorkState == "Yucatán") ? "selected=\"\"" : "") value="Yucatán">Yucatán</option>
                                    <option @Html.Raw((Model.WorkState == "Zacatecas") ? "selected=\"\"" : "") value="Zacatecas">Zacatecas</option>
                                </select> <i></i>
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="input">
                                <i class="icon-prepend fa fa-percent">#</i>
                                <input type="text" name="patronalRegistryNo" placeholder="Registro Patronal" value="@Model.PatronalRegistryNo">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label class="select">
                                <select name="regime" value="@Model.Regime">
                                    <option value="0" @Html.Raw((Model.Regime == "0") ? "selected=\"\"" : "") disabled="">Régimen</option>
                                    <option @Html.Raw((Model.Regime == "Sueldos y Salarios") ? "selected=\"\"" : "") value="Sueldos y Salarios">Sueldos y Salarios</option>
                                    <option @Html.Raw((Model.Regime == "Asimilados a Salarios") ? "selected=\"\"" : "") value="Asimilados a Salarios">Asimilados a Salarios</option>
                                    <option @Html.Raw((Model.Regime == "Viáticos") ? "selected=\"\"" : "") value="Viáticos">Viáticos</option>
                                </select> <i></i>
                            </label>
                        </section>
                    </div>

                    </fieldset>
                }
            <footer>
                @if (!Model.Processed) {
                    <button type="button" id="submit" class="btn btn-primary">
                        Guardar
                    </button>
                }
                    <button type="button" id="close" class="btn btn-default">
                        Cerrar
                    </button>

                </footer>
            </form>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script type="text/javascript">
    $('#startContractDateVal').datepicker({
        dateFormat: 'dd/mm/yy',
        prevText: '<i class="fa fa-chevron-left"></i>',
        nextText: '<i class="fa fa-chevron-right"></i>',
        altField: "#startContractDate",
        altFormat: "mm/dd/yy",
        onSelect: function (selectedDate) {
            $('#endContractDateVal').datepicker('option', 'minDate', selectedDate);
        }
    });
    //$('#endContractDateVal').datepicker({
    //    dateFormat: 'dd/mm/yy',
    //    prevText: '<i class="fa fa-chevron-left"></i>',
    //    nextText: '<i class="fa fa-chevron-right"></i>',
    //    altField: "#endContractDate",
    //    altFormat: "mm/dd/yy",
    //    onSelect: function (selectedDate) {
    //        $('#startContractDateVal').datepicker('option', 'maxDate', selectedDate);
    //    }
    //});
    $('#startDateVal').datepicker({
        dateFormat: 'dd/mm/yy',
        prevText: '<i class="fa fa-chevron-left"></i>',
        nextText: '<i class="fa fa-chevron-right"></i>',
        altField: "#startDate",
        altFormat: "mm/dd/yy"
    });
    $('#doBVal').datepicker({
        dateFormat: 'dd/mm/yy',
        prevText: '<i class="fa fa-chevron-left"></i>',
        nextText: '<i class="fa fa-chevron-right"></i>',
        altField: "#doB",
        altFormat: "mm/dd/yy"
    });
    $('#ssRegistrationDateVal').datepicker({
        dateFormat: 'dd/mm/yy',
        prevText: '<i class="fa fa-chevron-left"></i>',
        nextText: '<i class="fa fa-chevron-right"></i>',
        altField: "#ssRegistrationDate",
        altFormat: "mm/dd/yy"
    });
    $('#permanentContractDateVal').datepicker({
        dateFormat: 'dd/mm/yy',
        prevText: '<i class="fa fa-chevron-left"></i>',
        nextText: '<i class="fa fa-chevron-right"></i>',
        altField: "#permanentContractDate",
        altFormat: "mm/dd/yy"
    });
    $("#laX").on("click", function() {
        $("#newModal").modal('hide');
        location.reload();
    });
    $("#close").on("click", function() {
        $("#newModal").modal('hide');
        location.reload();
    });

    function showHide(cb) {
        if (cb.checked) {
            $("#salaryPanel").css("display", "block");
        } else {
            $("#salaryPanel").css("display", "none");
        }
        
    }

    $("#submit").on("click", function () {
        if ($('input[name="hasSocialSecurity"]').is('checked'))
            $('input[name="hasSocialSecurity"]').val('on');
        else
            $('input[name="hasSocialSecurity"]').val('off');
        if ($('input[name="calculateSalary"]').is('checked'))
            $('input[name="calculateSalary"]').val('on');
        else
            $('input[name="calculateSalary"]').val('off');
        $.ajax({
            url: "/Empleados/_Upsert",
            type: "POST",
            data: new FormData($("#newForm")[0]),
            processData: false,
            contentType: false
        }).done(function(partialViewResult) {
            $("#newModalBody").html(partialViewResult);
        });
    });
</script>


