@using SmartAdminMvc.ViewModels
@model EnterpriseReference
@{
    ViewBag.Title = "Empresa";
}

<h2>@Html.Label(@Model.Id.ToString()) - @Model.Name</h2>

<h3 style="line-height: 2em">
    <ul>
        <li class="@Html.RouteIf("Empresas", "active")">
            <a href="@Url.Action("Index", "Nominas", new {@id = @Model.Id})" title="Nomina" style="color: black !important"><i class="fa fa-lg fa-fw fa-money txt-color-black"></i> <span class="menu-item-parent">Nómina</span></a>
        </li>
        <li class="@Html.RouteIf("Empresas", "active")">
            <a href="@Url.Action("Index", "Empleados", new {@id = @Model.Id})" title="Nomina" style="color: black !important"><i class="fa fa-lg fa-fw fa-users txt-color-black"></i> <span class="menu-item-parent">Catálogo de Empleados</span></a>
        </li>
        <li class="@Html.RouteIf("Empresas", "active")">
            <a href="@Url.Action("Index", "Departamento", new {@id = @Model.Id})" title="Nomina" style="color: black !important"><i class="fa fa-lg fa-fw fa-laptop txt-color-black"></i> <span class="menu-item-parent">Catálogo de Departamentos</span></a>
        </li>
        <li class="@Html.RouteIf("Empresas", "active")">
            <a href="@Url.Action("Index", "Puesto", new {@id = @Model.Id})" title="Nomina" style="color: black !important"><i class="fa fa-lg fa-fw fa-sitemap txt-color-black"></i> <span class="menu-item-parent">Catálogo de Puestos</span></a>
        </li>
        <li class="@Html.RouteIf("Empresas", "active")">
            <a href="@Url.Action("Index", "Percepciones", new {@id = @Model.Id})" title="Nomina" style="color: black !important"><i class="fa fa-lg fa-fw fa-tag txt-color-black"></i> <span class="menu-item-parent">Percepciones y Deducciones</span></a>
        </li>
        <li class="@Html.RouteIf("Empresas", "active")">
            <a href="@Url.Action("Index", "Configuracion", new {@id = @Model.Id})" title="Nomina" style="color: black !important"><i class="fa fa-lg fa-fw fa-cog txt-color-black"></i> <span class="menu-item-parent">Configuración de la Empresa</span></a>
        </li>
        <li class="@Html.RouteIf("Empresas", "active")">
            <a href="@Url.Action("Index", "Acumulados", new {@id = @Model.Id})" title="Nomina" style="color: black !important"><i class="fa fa-lg fa-fw fa-search txt-color-black"></i> <span class="menu-item-parent">Búsqueda de acumulados</span></a>
        </li>
        <li class="@Html.RouteIf("Empresas", "active")">
            <a href="@Url.Action("Dispersion", "Empresas", new { @id = @Model.Id})" title="Nomina" style="color: black!important"><i class="fa fa-lg fa-fw fa-bank txt-color-black"></i> <span class="menu-item-parent">Dispersión de Fondos</span></a>
        </li>
        <li class="@Html.RouteIf("Empresas", "active")">
            <a href="@Url.Action("Index", "Incidencias", new { @id = @Model.Id})" title="Nomina" style="color: black!important"><i class="fa fa-lg fa-fw fa-exclamation-triangle txt-color-black"></i> <span class="menu-item-parent">Módulo de incidencias</span></a>
        </li>
    </ul>
</h3>

<script type="text/javascript">
    //$("ol.breadcrumb").html("<li>aloo</li>");

</script>