@using SmartAdminMvc.ViewModels
@model PayDayFullInfo
@{
    ViewBag.Title = "Resumen";
}

<h2>Resumen</h2>

<table id="datatable_tabletools" class="table table-striped table-bordered table-hover" width="100%">
    <tr><td>Del</td><td>@Model.StartDate</td><td>Al</td><td>@Model.EndDate</td></tr>
    <tr><td colspan="2">Estado</td><td colspan="2"><b>@Model.Status</b></td></tr>
    <tr>
        <td colspan="4" align="center">
            <table>
                <tr><td colspan="2" align="center">PERCEPCIONES</td></tr>
                <tr>
                    <td>
                        Sueldos y Salarios
                    </td>
                    <td>
                        <b>@Model.Income</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        Extra
                    </td>
                    <td>
                        <b>$0.00</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        Sub-Total
                    </td>
                    <td>
                        <b>@Model.Income</b>
                    </td>
                </tr>
                <tr><td colspan="2" align="center">DEDUCCIONES</td></tr>
                <tr>
                    <td>
                        Sub-Total
                    </td>
                    <td>
                        <b>@Model.Deductions</b>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        TOTALES
                    </td>
                </tr>
                <tr>
                    <td>
                        Nómina
                    </td>
                    <td>
                        <b>@Model.FinalIncome</b>
                    </td>
                </tr>
                <!--<tr>
                    <td>
                        Base
                    </td>
                    <td>
                        <b>$45,000.00</b>
                    </td>
                </tr>-->
                <tr>
                    <td>
                        Comisión (@Model.CommissionPct)
                    </td>
                    <td>
                        <b>@Model.Commission</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        IVA (@Model.VatPct)
                    </td>
                    <td>
                        <b>@Model.Vat</b>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h3>
                            Gran Total <b>@Model.FinalAmount</b>
                        </h3>
                    </td>
                </tr>
            </table>
    </td></tr>
</table>


